:root {
    /* Set Base Colors here */
    --white: #dde5ed;
    --medium: #3e5d58;
    --light: #92aca0;

    /* Quick Change */
    --bg: var(--medium);
    --primary: var(--light);
    --secondary: var(--light);
    --accent1: var(--light);

    /* Change these as long as they match condition*/
    --metersOn: var(--primary); /*  note meters are set to this */
    --repeaterOn: var(--primary); /* ascii-repeater is set to this */
    --checksOn: var(--dark); /* Checks are set to this */
    --off: #92aca074; /* primary with half opacity */
}

/* Background and text color 1 */
body {
    /* Text Colors */
    color: var(--primary);
    /* frame color -- set to same as --bg if no frame is needed*/
    background-color: var(--bg);
}

#header {
    color: var(--off);
}

/* ascii-tone background color */
#main-container {
    /* This has to be the --bg variable */
    background: var(--bg);
    z-index: -999;
}

/* main overlay */
.overlay {
    color: var(--primary);
}

#ascii-repeater {
    color: var(--repeaterOn);
}

/* For f and Zzz */
.ascii-label {
    color: var(--off);
}

/*//////////*/
/* Transport */
/*//////////*/
#play-button {
    color: var(--primary);
}

#ascii-bpm {
    color: var(--primary);
}
/* sequence mode */
#seq-mode {
    color: var(--primary);
}
#scale-select {
    color: var(--primary);
}

/* The 'playhead' arrow that moves along the top */
#playhead {
    color: var(--accent1);
}

/* The note selection meters */
#ascii-meter {
    color: var(--metersOn);
}

/* The snooze buttons */
#ascii-checkbox {
    color: var(--checksOn);
}

/* The synth control parameters */
.ascii-params {
    color: var(--primary);
}

/*  Control box titles */
.group-label {
    color: var(--secondary);
}

/* titles for each parameter */
.label {
    color: var(--primary);
}

#ascii-lfo-spin {
    color: var(--accent1);
}
/* the fx tab */
#fx-swap {
    color: var(--secondary);
}

/* param tabs on mobile */
#tabs-container-mobile {
    color: var(--secondary);
}
