/* 
https://matrixzj.github.io/docs/gmk-keycaps 

https://matrixzj.github.io/docs/gmk-keycaps/ColorCodes/
*/
.botanical {
    --white: #dde5ed;
    --dark: #3e5d58;
    --medium: #3e5d58;
    --light: #92aca0;
}

.dune {
    --black: #050404;
    --orange: #d6482a;
    --sand: #e0a144;
    --red: #a81b0b;
    --rust: #9f3f1b;
    --lightBlue: #acd8e2;
    --blue: #588696;
}

.gameMan {
    /* unknown */
}

.godspeed {
    --white: rgb(227, 213, 185);
    --blue: rgb(89, 145, 174);
    --yellow: rgb(255, 219, 88) ­;
    --red: rgb(186, 19, 18);
    --green: rgb(105, 208, 165);
    --grey: rgb(125, 124, 120);
}

.dualshot {
}
.metropolis {
    --black: rgb(9, 31, 44);
    --blue: rgb(60, 219, 192);
    --yellow: rgb(241, 190, 72);
    --red: rgb(224, 60, 49);
}

.nine009 {
    --white: #d8d2c3;
    --gray: #aca693;
    --red: #c87e74;
    --green: #768e72;
}

.olivia {
    --white: #e1dbd1;
    --black: #2b2b2b;
    --pink: #f1beb0;
}

.tournament {
    --green: #739354;
    --white: #ebebd3;
    --black: #353535;
}
.ubuntu {
    --purple: #330b23;
    --green: #86d22f;
    --white: #ececdb;
}

.win95 {
    --red: #ff3300;
    --yellow: #ffcc00;
    --blue: #000082;
    --cyan: #008282;
    --cyanLogo: #02a5ff;
    --green: #63cb33;
    --gray: #bebebe;
    --black: #000000;
}
