html {
    -webkit-tap-highlight-color: transparent;
    font-family: monospace;
}

/* 
pre {
    margin: 1px;
    padding: 1px;
} */

input[type='range'][orient='vertical'] {
    -webkit-appearance: slider-vertical;
    width: 30px;
    height: 270px;
}

button {
    appearance: none;
    cursor: pointer;
    background-color: lightgray;
    outline: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 45px);
    grid-template-rows: auto auto auto auto auto;
    /* grid-auto-rows: minmax(100px, auto) */
    grid-template-areas: 'buttons', 'meters', 'checks', 'playhead', 'controls';
    width: 100%;
    margin-left: 2%;
    position: relative;
}

#ascii-window {
    position: absolute;
    width: 99%;
    font-size: 16px;
    top: 1px;
    left: 1px;
    z-index: -2;
}

#bpm {
    appearance: none;
    outline: none;
    background-color: lightgray;
    position: absolute;
    top: 37px;
    height: 7px;
}
.transport {
    margin: 1px;
    margin-left: 15px;
}

#play-button {
    outline: none;
    margin-top: 24px;
    margin-left: 4px;
    width: 50px;
    height: 20px;
}

#bpm-button {
    width: 30px;
    height: 30px;
}

#test-button {
    margin: auto;
    display: none;
}
/* .step {
    width: 1px;
} */

#top-controls {
    flex-direction: row;
}

#playhead {
    margin-top: 10px;
    margin-left: 28px;
    font-size: 15px;
    position: absolute;
}
#ascii-meter {
    font-size: 20px;
    font-weight: bold;
    padding: 1px;
    grid-area: meters;
    z-index: -1;
}

.meter {
    opacity: 0%;
    margin-top: 35px;
    margin-left: 5px;
    position: absolute;
    top: 1%;
}

.check-container {
    position: relative;
    bottom: 4%;
    left: 3%;
    /* right: 20%;
    grid-area: controls;
    margin: 2px; */
}

.synth-controls {
    grid-area: controls;
    display: none;
}

#check {
    position: relative;
    justify-content: margin-left;
    opacity: 0%;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 1px;
    /* bottom: 10%; */
}

#ascii-checkbox {
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin: 1px;
    margin-left: 2px;
    /* bottom: 13%; */
    z-index: -1;
}

@media all and (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: repeat(9, 44px);
        grid-template-rows: auto auto auto auto auto;
        /* grid-auto-rows: minmax(100px, auto) */
        grid-template-areas: 'buttons', 'meters', 'checks', 'playhead',
            'controls';
        width: 100%;
        margin-left: 2%;
        position: relative;
    }
    #playhead {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 14px;
        position: absolute;
    }
}
