/* Sequencer */
#steps {
    /* border: 1px solid blue; */
    margin: auto;
    position: relative;
    width: 410px;
    height: 470px;
    display: grid;
    /* place-content: start center; */
    gap: 2px;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: auto auto auto;

    grid-area: main;
    z-index: 0;
}

#playhead {
    margin-top: 18px;
    margin-left: 20px;
    font-size: 12px;
    position: absolute;
}

/* note sliders */
.meter {
    position: absolute;
    top: 45px;
}

#ascii-meter {
    margin: 20px auto auto auto;
    text-align: center;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    z-index: -1;
    grid-area: meters;
}

/* Flutter controls */

#repeater-container {
    position: relative;
    top: 0px;
}

.repeater-range {
    position: absolute;
    opacity: 0 !important;
    height: 4.1rem !important;
    top: -6px;
}
#ascii-repeater {
    font-family: Courier, monospace;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    left: 6px;
    line-height: 70%;
    margin: 0px;
    width: 10px;
    z-index: -1;
    margin: auto;
}

/* Check Boxes */
.check-container {
    position: relative;
    bottom: -60px;
    width: auto;
    margin: 0px;
    left: 3%;
}

#check {
    position: absolute;
    opacity: 0;
    margin: 2px;
    width: 39px;
    height: 20px;
    cursor: pointer;
}

#ascii-checkbox {
    position: absolute;
    text-align: center;
    font-size: 18px;
    margin: 1px;
    margin-left: 5px;
    z-index: -1;
}
