#header {
    margin-bottom: 10px;
    /* border: 1px solid gray; */
    width: auto;
    height: 20px;
    font-size: 12px;
    /* z-index: 9999 !important; */
    grid-area: header;
}

#title {
    z-index: -3;
}

/* Top Controls and Transport */
.transport {
    margin: 0px 30px 0px 10px;
    padding: 3px;
}

.active {
    color: orange;
}
#top-controls {
    grid-area: transport;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;

    align-content: space-between;
}

#bpm-container {
    margin-right: 20px;
    position: relative;
    width: 140px;
}

/* TODO: change this width */
#bpm {
    position: absolute;
    width: 125px;
    z-index: 5;
}

#ascii-bpm {
    /* font-family: 'Courier New', Courier, monospace !important; */
    font-size: 14px;
    letter-spacing: -5px;
    z-index: 0;
}

#play-button {
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 60px;
    height: 20px;
}

#scale-select {
    cursor: pointer;
    margin-left: 20px;
    font-size: 14px;
    padding-top: 5px;
}
