#header {
    margin-bottom: 10px;
    /* border: 1px solid gray; */
    width: auto;
    height: 20px;
    font-size: 12px;
    /* z-index: 9999 !important; */
    grid-area: header;
}

#title {
    z-index: -3;
}

/* Top Controls and Transport */

.active {
    color: orange;
}
#top-controls {
    grid-area: transport;
    height: auto;
    min-width: 320px;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: space-between; */
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-grow: inherit; */
    font-size: 14px;
    padding-top: 5px;
}

#play-button {
    margin: auto;
    /* padding-top: 5px; */
    font-weight: bold;
    width: 60px;
    height: 20px;
}

#bpm-container {
    margin: auto;
    position: relative;
    width: auto;
}

/* TODO: change this width */
#bpm {
    position: absolute;
    width: 98px;
    z-index: 5;
}

#ascii-bpm {
    /* font-family: 'Courier New', Courier, monospace !important; */
    letter-spacing: -5px;
    z-index: 0;
}

#scale-select {
    cursor: pointer;
    margin: auto;
    /* margin-left: 20px; */
    /* padding-top: 5px; */
}

#seq-mode {
    margin: auto;

    cursor: pointer;
    letter-spacing: -2px;
}
