/* Common Breakpoints
400px - Large Phones
568px - Landscape Mobile
768px - Tablet
1024px - Small Desktop (Laptops)
1300px - Normal Desktop  */

@media all and (max-width: 325px) {
    body {
        overflow: hidden;
        position: fixed;
    }

    input[type='range'] {
        width: 150px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 30px;
        width: 23px;
        margin-top: -1px;
    }

    #main-container {
        margin-top: 0px;
        margin-left: 0px;
        width: 100%;
    }
    #header {
        margin-bottom: 0px;
        margin-left: 5px;
    }

    #play-button {
        margin-left: 0px;
    }
    #bpm-container {
        margin-right: 0px;
        position: relative;
        width: 140px;
    }

    #bpm-container {
        margin-right: 0px;
        margin-left: 0px;
        width: 140px;
    }
    #scale-select {
        margin-right: 10px;
        margin-left: 0px;
        font-size: 14px;
        padding-top: 5px;
    }
    #steps {
        grid-template-columns: repeat(8, 40px);
        gap: 0px;
        padding: 0px;
        width: 335px;
        height: 475px;
    }
    #playhead {
        margin-top: 12px;
        margin-left: 10px;
        font-size: 11px;
    }
    .label {
        margin-bottom: 5px;
    }
    #synth-container {
        display: none;
        margin-top: 5px;
        padding-left: 5px;
        margin-bottom: 20px;
        grid-area: main;
        grid-template-columns: 160px 160px;
        grid-template-rows: auto auto;
        grid-template-areas:
            'oscillatorA oscillatorB '
            'envelope mod '
            'filter mixer';
        gap: 0px;
        width: 335px;
        height: 450px;
    }
    .ascii-params {
        font-size: 14px;
    }

    #fx-container {
        display: none;
        margin-top: 5px;
        margin-bottom: 20px;
        grid-area: main;
        grid-template-columns: 160px 160px;
        gap: 0px;
        width: 335px;
        height: 450px;
    }
    #overlay-container {
        display: none;
    }
    #ascii-lfo-spin {
        display: none;
    }
    #tabs-container {
        display: none;
        grid-template-columns: 160px 160px;
    }
    #param-swap-text {
        font-size: 16px;
    }

    #tabs-container-mobile {
        margin-top: 1px;
        display: flex;
        flex-direction: row;
        width: 320px;
        height: 30px;
        font-size: 15px;
        grid-area: footer;
    }
}
@media all and (min-width: 326px) and (max-width: 390px) {
    body {
        overflow: hidden;
        position: fixed;
    }
    input[type='range'] {
        width: 150px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 30px;
        width: 23px;
        margin-top: -1px;
    }

    #main-container {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'header' 'transport' 'main' 'footer';
    }
    #header {
        margin-left: 5px;
    }
    /* untouched */
    #top-controls {
        height: auto;
        width: auto;
        align-content: space-between;
    }
    #bpm-container {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        width: 140px;
    }
    #scale-select {
        margin-right: 10px;
        margin-left: 0px;
        font-size: 14px;
        padding-top: 5px;
    }
    #steps {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto;
        gap: 1px;
        padding: 0;
        margin: auto;
        width: 350px;
    }

    #playhead {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 12px;
        position: absolute;
    }
    .ascii-params {
        font-size: 14px;
    }
    #ascii-lfo-spin {
        display: none;
    }
    #header {
        margin-bottom: 0px;
    }

    #synth-container {
        margin-top: 20px;
        padding-left: 15px;
        grid-area: main;
        display: none;
        grid-template-columns: 170px 170px;
        grid-template-rows: auto auto;
        grid-template-areas:
            'oscillatorA oscillatorB '
            'envelope mod '
            'filter mixer';
        gap: 0px;

        width: 350px;
        height: 450px;
    }

    #fx-container {
        grid-area: main;
        width: 350px;
        height: 470px;
    }

    #overlay-container {
        display: none;
    }
    #tabs-container {
        display: none;
    }

    #param-swap-text {
        font-size: 18px;
    }

    #scale-select {
        margin-right: 20px;
        font-size: 14px;
        padding-top: 5px;
    }

    #tabs-container-mobile {
        margin-top: 1px;
        display: flex;
        flex-direction: row;

        width: 350px;
        height: 30px;
        font-size: 19px;
        grid-area: footer;
    }
}
@media all and (min-width: 391px) and (max-width: 450px) {
    body {
        overflow: hidden;
        position: fixed;
    }
    input[type='range'] {
        width: 150px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 30px;
        width: 23px;
        margin-top: -1px;
    }

    #main-container {
        margin: auto;
        margin-left: 10px;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'header' 'transport' 'main' 'footer';
    }
    #header {
        margin-left: 5px;
    }
    #bpm-container {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        width: 140px;
    }
    #scale-select {
        margin-right: 10px;
        margin-left: 0px;
        font-size: 14px;
        padding-top: 5px;
    }
    #steps {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto;
        gap: 1px;
        padding: 0;
        margin: auto;
        width: 350px;
    }

    #playhead {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 12px;
        position: absolute;
    }
    .ascii-params {
        font-size: 14px;
    }
    #ascii-lfo-spin {
        display: none;
    }
    #header {
        margin-bottom: 0px;
    }

    #synth-container {
        margin-top: 20px;
        padding-left: 15px;
        grid-area: main;
        display: none;
        grid-template-columns: 170px 170px;
        grid-template-rows: auto auto;
        grid-template-areas:
            'oscillatorA oscillatorB '
            'envelope mod '
            'filter mixer';
        gap: 0px;

        width: 350px;
        height: 450px;
    }

    #fx-container {
        grid-area: main;
        width: 350px;
        height: 470px;
    }

    #overlay-container {
        display: none;
    }
    #tabs-container {
        display: none;
    }

    #param-swap-text {
        font-size: 16px;
    }

    #scale-select {
        margin-right: 20px;
        font-size: 14px;
        padding-top: 5px;
    }

    #tabs-container-mobile {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 350px;
        height: 30px;
        font-size: 15px;
        grid-area: footer;
    }
}
@media all and (min-height: 600) {
    body {
        overflow: hidden;
        position: fixed;
    }
    input[type='range'] {
        width: 150px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 30px;
        width: 23px;
        margin-top: -1px;
    }

    #main-container {
        margin: auto;
        margin-left: 10px;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'header' 'transport' 'main' 'footer';
    }
    #header {
        margin-left: 5px;
    }
    #bpm-container {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        width: 140px;
    }
    #scale-select {
        margin-right: 10px;
        margin-left: 0px;
        font-size: 14px;
        padding-top: 5px;
    }
    #steps {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto;
        gap: 1px;
        padding: 0;
        margin: auto;
        width: 350px;
    }

    #playhead {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 12px;
        position: absolute;
    }
    .ascii-params {
        font-size: 14px;
    }
    #ascii-lfo-spin {
        display: none;
    }
    #header {
        margin-bottom: 0px;
    }

    #synth-container {
        margin-top: 20px;
        padding-left: 15px;
        grid-area: main;
        display: none;
        grid-template-columns: 170px 170px;
        grid-template-rows: auto auto;
        grid-template-areas:
            'oscillatorA oscillatorB '
            'envelope mod '
            'filter mixer';
        gap: 0px;

        width: 350px;
        height: 450px;
    }

    #fx-container {
        grid-area: main;
        width: 350px;
        height: 470px;
    }

    #overlay-container {
        display: none;
    }
    #tabs-container {
        display: none;
    }

    #param-swap-text {
        font-size: 16px;
    }

    #scale-select {
        margin-right: 20px;
        font-size: 14px;
        padding-top: 5px;
    }

    #tabs-container-mobile {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        width: 350px;
        height: 30px;
        font-size: 15px;
        grid-area: footer;
    }
}
