:root {
    --darkgray: rgba(47, 60, 76, 1);
    --white: rgba(241, 232, 208, 1);

    /* Don't remove these */
    --metersOn: var(--primary); /* should match meters color */
    --repeaterOn: var(--white);
    --checksOn: var(--yellow);
    --on: rgba(241, 232, 208, 1);
    --off: rgba(241, 232, 208, 0.4);
    --bg: black;
}

/* Background and text color 1 */
body {
    background-color: var(--bg);
    color: var(--white);
}

/* ascii-tone background color */
#main-container {
}

/* main overlay */
#ascii-window {
    color: var(--white);
}

.ascii-label {
    color: var(--white);
}

.label {
    color: var(--white);
}
/* Horizontal seperators of overlay */
.divider {
    color: var(--white);
}
/* For coloring specific elements, use the following: */

#play-button {
    color: var(--white);
}

/* The spinning BPM animation */
#ascii-spin {
    color: var(--white);
}

/* The 'playhead' arrow that moves along the top */
#playhead {
    color: var(--white);
}

/* The note selection meters */
#ascii-meter {
    color: var(--white);
}

/* The snooze buttons */
#ascii-checkbox {
    color: var(--white);
}

/* synthesizer section background color */

/* The synth control parameters */
.ascii-params {
    color: var(--white);
}

/*  Control box titles */
.group-label {
    color: var(--white);
}

#fx-swap {
    color: var(--white);
}

#tabs-container-mobile {
    color: var(--white);
}
