/* Background and text color 1 */
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* ascii-tone background color */
#main-container {
    background-color: transparent;
}

/* For coloring specific animations, use the following: */

/* The spinning BPM animation */
#ascii-spin {
    color: rgb(0, 0, 0);
}

/* The 'playhead' arrow that moves along the top */
#playhead {
    color: rgb(0, 0, 0);
}

/* The note selection meters */
#ascii-meter {
    color: rgb(0, 0, 0);
}

/* The snooze buttons */
#ascii-checkbox {
    color: rgb(0, 0, 0);
}

/* synthesizer section background color */

/* The synth control parameters */
.ascii-params {
    color: rgb(0, 0, 0);
}

/*  Control box titles */
.group-label {
    color: rgb(0, 0, 0);
}
