:root {
    --bluegray: rgb(121, 145, 156);
    --greengray: rgba(67, 81, 87, 0.7);
    --darkgray: rgba(47, 60, 76, 1);
    --white: rgba(241, 232, 208, 1);
    --black: rgba(0, 0, 0, 1);
    --green: rgba(208, 240, 192, 1);
    --red: rgba(246, 141, 141, 1);
    --yellow: rgba(245, 177, 81, 1);
    --paleyellow: rgba(246, 186, 101, 1);
    --blue: rgba(134, 232, 254, 1);
    --on: rgba(0, 0, 0, 1);
    --off: rgba(0, 0, 0, 0.4);
    --bg: rgb(255, 255, 246);
}

/* Background and text color 1 */
body {
    color: var(--black);
    background-color: rgb(255, 255, 246);
}

/* ascii-tone background color */
#main-container {
    background: var(--bg);
    z-index: -999;
}

/* main overlay */
#ascii-window {
    color: var(--black);
}

.ascii-label {
    color: var(--black);
}

.label {
    color: var(--black);
}
/* Horizontal seperators of overlay */
.divider {
    color: var(--black);
}
/* For coloring specific elements, use the following: */

#play-button {
    color: var(--black);
}

/* The spinning BPM animation */
#ascii-spin {
    color: var(--black);
}

/* The 'playhead' arrow that moves along the top */
#playhead {
    color: var(--black);
}

/* The note selection meters */
#ascii-meter {
    color: var(--black);
}

/* The snooze buttons */
#ascii-checkbox {
    color: var(--black);
}

/* synthesizer section background color */

/* The synth control parameters */
.ascii-params {
    color: var(--black);
}

/*  Control box titles */
.group-label {
    color: var(--black);
}
