body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 233, 255);
    
    
}

input {
    width: 40px;
    margin-left: 10px;
    
}





.input-form{
    margin: 10px;
    border: 1px solid black;
    width: 60%;
    flex: content;
    display: flex;
    flex-direction: row;
}

.box {
    margin: 1%;
    border: 1px solid black;
    width: 20%;
}

#label {
    font-size: 15px;
    font-weight: bold;
    margin: 2%;
}

#title-box {
    width: 50%;
}

#location {
    width: 40%;
}


#freq-inputs{
    width: 50%
    
}

#expected {
    
}

#submit-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.results {
    margin: 1%;
    width: 90%;
    border: 1px solid black;
    background-color: white;
    height: auto;
    font-size: 12px;
}

#table {
    padding: 5px;
}

