html {
    scroll-behavior: smooth;
}

@media (max-width: 420px) {
    body {
    -webkit-appearance: none;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(196, 233, 255);
    font-size: 11px;

    }
    label {
        font-size: 12px;
    }
    input.station {
        width: 20px;
        height: 10px;
    }
    
    input.station-outdoor {
        width: 20px;
        height: 10px;
    }
    
    
}
body {
    -webkit-appearance: none;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(196, 233, 255);
}
.input-form{
    margin-left: 0%;
    margin-top: 3%;
    width: 100%;
    flex: content;
    display: flex;
    flex-direction: row;
}

.station-head {
    width: 10%;
}

table {
    table-layout: fixed;
    display: inline-table;
    width: 90%;
    margin: auto;
  }

  
th {
   width: 10%;
    text-align: center;
    white-space: nowrap;
  }

  td {
      text-align: center;
      
  }
#input-table-outdoor {
    display: inline-table;
}

.title {
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.station {
    margin: 3%;
    width: 35px;
    
}

.station-outdoor {
    margin: 3%;
    width: 35px;
    
}

.box {
    margin: 1%;
    width: 12%;
    padding: 1%;
}

.results {
    margin: 1%;
    margin-top: 3%;
    width: 45%;
    height: auto;
    font-size: 12px;
}

#input-table {
    width: 80%;
    
}

.input-table-outdoor {
    width: 80%;
    display: none;
}

#title-box {
    width: 50%;
}

#location-input {
    margin-left: 5%;

}
#location {
    width: 15%;
    margin: 1px;

}


#freq-inputs{
    width: 50%;
}

#submit-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20%;
    cursor: pointer;
}

#submit-button-outdoor {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20%;
    cursor: pointer;
}

#copy-button {
    background-color: #4CAF50; 
    width: 90%;
    margin-left: 5px;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#table-text {
    margin: 5px;
    width: 90%;
    height: 90%;
}
