body {
    -webkit-appearance: none;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(196, 233, 255);
}

.input-form{
    margin: 10px;
    width: auto;
    flex: content;
    display: flex;
    flex-direction: row;
}

.title {
    padding: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.station {
    margin: 3%;
    width: 35px;
    
}

.seek-check {
    positon: absolute;
}

.box {
    margin: 1%;
    width: 12%;
    padding: 1%;
}


#title-box {
    width: 50%;
}

#location-input {
    margin-left: 5%;

}
#location {
    width: 15%;
    margin: 1px;

}


#freq-inputs{
    width: 50%;
}

#submit-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#copy-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.results {
    margin: 1%;
    width: 45%;
    height: auto;
    font-size: 12px;
}



#table {
    margin: 5px;
    width: 90%;
    height: 90%;
}
