@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.repeater-range * {
    box-sizing: border-box;
}

input[type='range'][orient='vertical'] {
    -webkit-appearance: slider-vertical;
    opacity: 0;
    width: auto;
    margin: 1px 5px 1px 5px;
    width: 35px;
    height: 310px;
    padding-left: 5px;
    padding-right: 5px;
}

a {
    -webkit-appearance: none;
    color: inherit;
    text-decoration: none;
}
#steps {
    /* border: 1px solid blue; */
    margin-left: 15px;
    position: relative;
    top: 1px;
    width: 500px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: auto auto auto;
    /* grid-auto-rows: minmax(100px, auto) */
    grid-template-areas:
        'steps'
        'flutter'
        'meters';

    z-index: 0;
}
.group-label {
    font-weight: bold;
    z-index: -1;
    margin-top: auto;
    margin-bottom: 3px;
    text-align: center;
}
#step {
    justify-content: center;
    align-content: center;
}
.transport {
    margin: 1px;
    margin-left: 15px;
}
#top-controls {
    position: relative;
    height: 50px;
    width: 390px;
}
#ascii-spin {
    text-align: center;
    font-size: 12px;
    position: absolute;
    left: 32px;
    top: 27px;
    z-index: -1;
}

#ascii-bpm {
    letter-spacing: -5px;
    position: absolute;
    top: 30px;
    left: 73px;
}

#ascii-bpm-container {
    font-weight: bold;
    letter-spacing: -5px;
    position: absolute;
    top: 17px;
    left: 70px;
}

#bpm {
    outline: none;
    position: absolute;
    width: 105px;
    top: 33px;
    height: 7px;
    left: 60px;
}

#play-button {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    padding: 1px;
    outline: none;
    top: 27px;
    width: 50px;
    height: 20px;
}

#scale-select {
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    top: 29px;
    left: 220px;
}

#test-button {
    margin: auto;
}

#playhead {
    margin-top: 14px;
    margin-left: 23px;
    font-size: 12px;
    position: absolute;
    top: 0px;
}
#ascii-meter {
    margin: 20px auto auto auto;
    text-align: center;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    grid-area: meters;
    z-index: -1;
}

.meter {
    position: absolute;
    top: 45px;
}

#repeater-container {
    position: relative;
    top: 0px;
    right: 228px;
}
#ascii-repeater {
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
    position: absolute;
    line-height: 70%;

    margin: 0px;
    width: 20px;
    z-index: -1;
    margin: auto;
    left: 232px;
}

.repeater-range {
    opacity: 0 !important;
    position: absolute;
    padding: 0;
    height: 4.3rem !important;
    width: 20px;
    left: 228px;
    top: -6px;
}

#rep-divider {
    position: absolute;
    top: 40px;
    left: 210px;
}
.mini-label {
    font-size: 11px;
}
.check-container {
    position: relative;
    bottom: -57px;
    width: auto;

    margin: 1px;

    left: 3%;
    /* right: 20%;
    grid-area: controls;
    margin: 2px; */
}

#check {
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 20px;
    cursor: pointer;

    /* bottom: 10%; */
}

#ascii-checkbox {
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin: 1px;
    margin-left: 5px;
    /* bottom: 13%; */
    z-index: -1;
}

@media all and (max-width: 600px) {
    #steps {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            'buttons'
            'meters'
            'tabs';
        padding: 0;
        margin: 0;
        width: 350px;
    }
    /* #slider-1 {
        padding: 0;
        margin: 0;
    } */
    #playhead {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 12px;
        position: absolute;
    }
}
