:root {
    /* Set Base Colors here */
    --black: rgb(9, 31, 44);
    --blue: rgb(60, 219, 192);
    --yellow: rgb(241, 190, 72);
    --red: rgb(224, 60, 49);

    /* Quick Change */
    --bg: var(--black);
    --primary: var(--blue);
    --secondary: var(--yellow);
    --accent1: var(--red);

    /* Change these as long as they match condition*/
    --metersOn: var(--primary); /*  note meters are set to this */
    --repeaterOn: var(--primary); /* ascii-repeater is set to this */
    --checksOn: var(--secondary); /* Checks are set to this */
    --off: rgba(60, 219, 192, 0.5); /* primary with half opacity */
}

/* Background and text color 1 */
body {
    /* Text Colors */
    color: var(--blue);
    /* frame color -- set to same as --bg if no frame is needed*/
    background-color: var(--bg);
}

#header {
    color: var(--off);
}
/* ascii-tone background color */
#main-container {
    /* This has to be the --bg variable */
    background: var(--bg);
    z-index: -999;
}

/* main overlay */
.overlay {
    color: var(--primary);
}

#ascii-repeater {
    color: var(--repeaterOn);
}

/* For f and Zzz */
.ascii-label {
    color: var(--accent1);
}

/*//////////*/
/* Transport */
/*//////////*/
#play-button {
    color: var(--red);
}

#ascii-bpm {
    color: var(--primary);
}

#scale-select {
    color: var(--secondary);
}

/* The 'playhead' arrow that moves along the top */
#playhead {
    color: var(--accent1);
}

/* The note selection meters */
#ascii-meter {
    color: var(--metersOn);
}

/* The snooze buttons */
#ascii-checkbox {
    color: var(--checksOn);
}

/* The synth control parameters */
.ascii-params {
    color: var(--primary);
}

/*  Control box titles */
.group-label {
    color: var(--secondary);
}

/* titles for each parameter */
.label {
    color: var(--primary);
}

#ascii-lfo-spin {
    color: var(--accent1);
}
/* the fx tab */
#fx-swap {
    color: var(--secondary);
}

/* param tabs on mobile */
#tabs-container-mobile {
    color: var(--secondary);
}
