/* Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: rgb(254, 255, 218);
    --blue: rgb(79, 141, 192);
    --yellow: rgb(255, 253, 108);
    --red: rgb(253, 110, 110);
    --green: rgb(19, 153, 26);
    --paleYellow: rgb(245, 248, 184);
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body,
.quote-input {
    background-color: var(--blue);
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#meter {
    border: 1px solid var(--paleYellow);
    border-radius: 5px;
    color: red;
    height: 20px;
    width: 600px;
    margin: 1%;
}

.container {
    background-color: var(--paleYellow);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    font-size: 3rem;
    text-align: center;
    color: var(--yellow);
    font-weight: bold;
    margin: 2%;
}

.quote-display {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    /* This is interesting.  makes quote title align with quote input */
    /* the padding and border values of quote input */
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    font-size: 1.1rem;
    background-color: transparent;
    border: 3px solid rgba(253, 110, 110, 0.6);
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    height: 5rem;
    margin: auto;
    resize: none;
    padding: 0.5rem 1rem;
}

.quote-input:focus {
    border-color: var(--red);
}

.correct {
    color: var(--green);
}

.incorrect {
    color: var(--red);
    text-decoration: underline;
}
