@import './skins/skin-light.css';

input[type='range'][orient='vertical'] {
    -webkit-appearance: slider-vertical;
    opacity: 0;
    width: 30px;
    height: 260px;
}

a {
    -webkit-appearance: none;
    color: inherit;
    text-decoration: none;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: auto;
    /* grid-auto-rows: minmax(100px, auto) */
    grid-template-areas:
        'heading'
        'buttons'
        'meters';
    margin: auto;
    width: fit-content;
    height: auto;
}
.group-label {
    font-weight: bold;
    z-index: -1;
    margin-top: auto;
    margin-bottom: 3px;
    text-align: center;
}

.transport {
    margin: 1px;
    margin-left: 15px;
}
#top-controls {
    flex-direction: row;
    position: relative;
    margin: auto;
    height: 50px;
    width: 390px;
}
#ascii-spin {
    font-size: 12px;
    position: absolute;
    left: 32px;
    top: 27px;
    z-index: -1;
}

#ascii-bpm {
    letter-spacing: -5px;
    position: absolute;
    top: 30px;
    left: 73px;
}

#ascii-bpm-container {
    font-weight: bold;
    letter-spacing: -5px;
    position: absolute;
    top: 17px;
    left: 70px;
}

#bpm {
    outline: none;
    position: absolute;
    width: 105px;
    top: 33px;
    height: 7px;
    left: 60px;
}

#play-button {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    padding: 1px;
    outline: none;
    top: 27px;
    width: 50px;
    height: 20px;
}

#test-button {
    margin: auto;
}

#playhead {
    margin-top: 14px;
    margin-left: 15px;
    font-size: 12px;
    position: absolute;
}
#ascii-meter {
    margin: auto;
    margin-top: 20px;

    font-size: 20px;
    font-weight: bold;
    padding: 1px;
    grid-area: meters;
    z-index: -1;
}

.meter {
    position: absolute;
    top: 45px;
}

#repeater-container {
    position: relative;
    top: -4px;
    right: 231px;
}
#ascii-repeater {
    position: absolute;
    line-height: 70%;
    font-size: 17px;
    font-weight: normal;
    margin: 0px;
    width: 20px;
    z-index: -1;
    margin: auto;
    left: 234px;
}

.repeater-range {
    opacity: 0 !important;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 50px !important;
    width: 20px;
    left: 233px;
    top: -3px;
}

.mini-label {
    font-size: 11px;
}
.check-container {
    position: relative;
    bottom: -50px;
    left: 3%;
    /* right: 20%;
    grid-area: controls;
    margin: 2px; */
}

#check {
    position: relative;
    justify-content: margin-left;
    opacity: 0%;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 1px;
    /* bottom: 10%; */
}

#ascii-checkbox {
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin: 1px;
    margin-left: 2px;
    /* bottom: 13%; */
    z-index: -1;
}

@media all and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'buttons'
            'meters';
        width: 100%;
        position: relative;
    }

    #playhead {
        margin-top: 14px;
        margin-left: 15px;
        font-size: 12px;
        position: absolute;
    }
}
