@import './skins/skins-template.css';

input[type='range'][orient='vertical'] {
    -webkit-appearance: slider-vertical;
    opacity: 0;
    width: 30px;
    height: 270px;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 45px);
    grid-template-rows: auto;
    /* grid-auto-rows: minmax(100px, auto) */
    grid-template-areas:
        'heading'
        'buttons'
        'meters';
    margin: auto;
    width: fit-content;
    height: auto;
}
/* 
#params {
    grid-template-columns: repeat(9, 45px);
    grid-template-rows: auto;
    grid-template-areas:
        'buttons'
        'meters';
    width: 100%;
    margin-left: 2%;
    position: relative;
   
    display: grid;
} */

.group-label {
    font-weight: bold;
    z-index: -1;
    margin-top: auto;
    margin-bottom: 3px;
    text-align: center;
}
#ascii-window {
    position: absolute;
    width: 99%;
    font-size: 16px;
    top: 1px;
    left: 1px;
    z-index: -2;
}

.transport {
    margin: 1px;
    margin-left: 15px;
}

#ascii-spin {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 105px;
    top: 30px;
}

#ascii-bpm {
    letter-spacing: -5px;
    position: absolute;
    top: 34px;
    left: 133px;
}

#ascii-bpm-container {
    font-weight: bold;
    letter-spacing: -5px;
    position: absolute;
    top: 21px;
    left: 130px;
}

#bpm {
    appearance: none;
    opacity: 0;
    outline: none;
    background-color: lightgray;
    position: absolute;
    top: 37px;
    height: 7px;
    left: 120px;
}

#play-button {
    outline: none;
    background-color: lightgray;
    margin-top: 32px;
    margin-left: 15px;
    width: 50px;
    height: 20px;
}

#test-button {
    margin: auto;
    display: none;
}

#top-controls {
    flex-direction: row;
    position: relative;
    margin: auto;
    width: 390px;
}

#playhead {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    position: absolute;
}
#ascii-meter {
    font-size: 20px;
    font-weight: bold;
    padding: 1px;
    grid-area: meters;
    z-index: -1;
}

.meter {
    opacity: 0;
    margin-top: 35px;
    margin-left: 5px;
    position: absolute;
    top: 1%;
}

.check-container {
    position: relative;
    bottom: 4%;
    left: 3%;
    /* right: 20%;
    grid-area: controls;
    margin: 2px; */
}

#check {
    position: relative;
    justify-content: margin-left;
    opacity: 0%;
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 1px;
    /* bottom: 10%; */
}

#ascii-checkbox {
    text-align: center;
    font-size: 16px;
    position: absolute;
    margin: 1px;
    margin-left: 2px;
    /* bottom: 13%; */
    z-index: -1;
}

@media all and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 44px);
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            'buttons'
            'meters';
        width: 100%;
        position: relative;
    }

    #playhead {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 14px;
        position: absolute;
    }
}
