@import './skins/skins-template.css';

html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    -webkit-tap-highlight-color: transparent;
    font-family: monospace;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    opacity: 0;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 15px;
    width: 23px;
    background-color: transparent;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    margin-top: -1px;
}

input[type='range']:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
button {
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

p {
    margin: 1px;
    margin-bottom: 1px;
}
#heading {
}
#main-container {
    margin: 5% 50% 10% 30%;
    padding: 1% 2% 2% 2%;
    border: 1px solid black;
    width: fit-content;
    height: 58%;
}
#help {
    margin-bottom: 1px;
}
#help:hover {
    height: 100px;
    width: 70%;
    cursor: help;
}

#help-menu {
    position: absolute;
    color: green;
    margin: auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 0;
    /* border: 1px solid black; */
    background-color: transparent;
}

#help:hover + #help-menu {
    display: block;
}

#skin-select {
}

/*///////   SYNTH LAYOUT    ////////////*/
#synth-container {
    /* display: grid; */
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'oscillatorA envelope filter'
        'oscillatorB mod mixer';
    gap: 1px;
    margin: auto;
    width: fit-content;
}

.synth-control {
    padding: 4px;
}
#oscillator-container-a {
    position: relative;
    border: 1px solid black;
    grid-area: oscillatorA;
}
#crossfader {
    opacity: 1;
    position: absolute;
    width: 80px;

    z-index: 1;
}
#oscillator-container-b {
    position: relative;
    border: 1px solid black;
    grid-area: oscillatorB;
}
#filter-container {
    position: relative;
    border: 1px solid black;
    grid-area: filter;
}
#ascii-cutoff {
    font-size: 30px;
    opacity: 1;
    position: absolute;
    height: 30px;
    margin: 1px;
    width: 30px;
    height: 30px;
    left: 110px;
    top: 5px;
}
#envelope-container {
    position: relative;
    border: 1px solid black;
    grid-area: envelope;
}

#modulation-envelope {
    position: relative;
    border: 1px solid black;
    grid-area: mod;
}

#modulation {
    position: relative;
    border: 1px solid black;
    grid-area: mixer;
}
.ascii-params {
    z-index: -1;
    position: absolute;
    left: 3px;
    font-weight: bold;
    letter-spacing: -4px;
}

#fx-container {
    display: none;
}
.fx-control {
    border: 1px solid black;
}

@media all and (max-width: 600px) {
    #main-container {
        margin: auto;
        width: auto;
        height: 90%;
        border: none;
    }
    #synth-container {
        position: relative;
        display: grid;
        grid-template-columns: 170px 170px;
        grid-template-rows: auto;
        grid-template-areas:
            'oscillatorA oscillatorB '
            'envelope mod '
            'filter mixer';
        gap: 0;

        width: fit-content;
    }
}
