:root {
    --bluegray: rgb(121, 145, 156);
    --greengray: rgba(67, 81, 87, 0.7);
    --darkgray: rgba(47, 60, 76, 1);
    --white: rgba(241, 232, 208, 1);
    --green: rgba(208, 240, 192, 1);
    --red: rgba(246, 141, 141, 1);
    --yellow: rgba(245, 177, 81, 1);
    --paleyellow: rgba(246, 186, 101, 1);
    --blue: rgba(134, 232, 254, 1);
}
body {
    background-color: var(--darkgray);
    color: var(--white);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    color: var(--white);
}

.main {
    /* border: 1px solid var(--green); */
    background-color: var(--greengray);
    justify-items: center;

    margin: auto;
    margin-top: 10vh;
    height: 55vh;
    width: 80vh;
    padding: 3vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 0.5fr 2fr;

    grid-template-areas:
        'header art art time'
        'five search search eight'
        'a b c d';
}
.search {
    position: relative;
    grid-area: search;
    font-size: 1rem;
    border: 1.5px solid var(--blue);
    margin: auto;
    height: 35%;
    width: 90%;
}

#search-field {
    font-family: 'Ubuntu Mono', monospace;
    color: var(--green);
    font-weight: bold;
    font-size: 16px;
    opacity: 100%;
    border: none;
    background: transparent;
    margin-top: 3px;
    margin-left: 22px;
    height: 70%;
    width: 97%;

    outline: none;
}

#search-cursor {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 3px;
    left: 6px;
}
#date-time-container {
    grid-area: time;
}
.ascii {
    margin: 0;
    font-size: 1rem;
    color: var(--green);
}
.art {
    font-size: 1rem;
    color: var(--red);
    grid-area: art;
}

.link-box {
    border: 2px solid var(--green);
    width: 90%;
    height: 97%;
    margin: 0;
}

.links-title {
    background-color: var(--green);
    color: var(--darkgray);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    padding: 3%;
}

.links-container {
    padding: 5%;
}
.link {
    margin: 2%;
    padding: 2%;
    font-size: 1.2rem;
}

#a {
    grid-area: a;
}
#b {
    grid-area: b;
}
#c {
    grid-area: c;
}
#d {
    grid-area: d;
}

/* Any changes in height/width/position go here for now. */
@media (max-height: 900px) {
    .main {
        /* border: 1px solid var(--green); */
        background-color: var(--greengray);
        justify-items: center;
        margin: auto;
        margin-top: 7vh;
        height: 80vh;
        width: 100vh;
        padding: 3vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.5fr 0.5fr 2fr;

        grid-template-areas:
            'header art art time'
            'five search search eight'
            'a b c d';
    }
    #search-cursor {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 1px;
        left: 6px;
    }
}
