/* font  https://www.dafont.com/vcr-osd-mono.font */

:root {
    --beige: rgb(255, 247, 199);
    --gray: rgb(121, 113, 113);
    --darkGray: rgb(59, 58, 58);
    --white: rgba(255, 255, 255, 0.3);
    --coral: rgb(252, 138, 97);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    background-color: var(--beige);
    color: var(--darkGray);
}

.container {
    margin: 10% auto;
    border: 3px solid var(--gray);
    border-radius: 10px;
    box-shadow: 10px 10px rgba(128, 123, 123, 0.8);
    width: 60%;
    max-width: 700px;
    min-width: 500px;
    height: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    width: 100%;
    border: 3px solid var(--gray);
    border-radius: 10px;
    background-color: var(--white);
}
.welcome {
    height: 35%;
    padding: 10px;
}
.link-container {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.link-container__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.link-container p {
    padding: 5px;
}

.link {
    margin: 10px;
    padding: 6px 18px;
    border-radius: 10px;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--darkGray);
}

.link:hover {
    background-color: var(--coral);
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-out;
}
.link:hover i {
    color: white;
    transition: all 0.2s ease-out;
}
