:root {
    --denim: rgba(89, 112, 161, 1);
    --white: rgb(255, 254, 245);
    --green: rgb(123, 194, 101);
    --yellow: rgb(250, 240, 102);
    --orange: rgb(243, 174, 83);
    --orangeRed: rgb(243, 128, 83);
    --red: rgb(231, 95, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--denim);
    font-family: 'Ubuntu Mono', monospace;
}
header {
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    color: var(--white);
    letter-spacing: 2px;
    margin: 5px;
}

h5 {
    color: rgba(255, 254, 245, 0.5);
}
.container {
    margin: 3vh auto;
    max-width: 900px;
    height: 70vh;
    padding-top: 20px;
    min-height: 500px;
    border-radius: 10px;
    background-color: var(--white);
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 30px;

    grid-template-areas:
        'current log'
        'session log'
        'status status2';
}

.card {
    background-color: var(--denim);
    color: var(--white);
    border-radius: 10px;
    margin: auto;
    width: 250px;
    height: 80%;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card__content {
    background-color: var(--white);
    border-radius: 10px;
    color: black;
    height: 75%;
    width: 90%;
}

.title {
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px;
}

.midi-data__value {
    margin: 1rem;
}

.card__current {
    grid-area: current;
    height: 30%;
    margin-top: auto;
}

#velocity-bar {
    padding: 10px;
    z-index: 10;
    width: 500px;
    height: 50px;
}

.card__session {
    grid-area: session;
    margin-top: 0;
    height: 30%;
}
.log-container {
    background-color: var(--denim);
    grid-area: log;
    width: 350px;
}

.log {
    background-color: var(--white);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 8px 0px;
    margin-bottom: 20px;
    height: 90%;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    overflow: auto;

    /* Reset */
    /* border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; */
}

/* .log__column::before {
    content: '\A';
} */
.log__column {
    height: 100%;
    white-space: pre-wrap;
    text-align: right;
}

.log__status::after {
    content: ' ';
}

.log__status {
    width: 34%;
    text-align: center;
}

.log__note {
    width: 20%;
}
.log__note--name {
    width: 20%;
}
.log__velocity {
    width: 18%;
}

.connection-status {
    grid-area: status2;
    text-align: right;
    margin-left: 130px;
    padding: 5px;
    height: 30px;
    width: 300px;
}
