* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    background-color: black;
}

header {
    margin: 10%;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    margin: 1%;
}
